*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

header, form, main{
    margin: auto;
    width: 70%;
    font-family: Helvetica;
    padding: 1.1rem 1.2rem;
}

header > h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

header > p{
    color: gray;
    font-size: 1.2rem;
}

form{
    background-color: skyblue;
}

input{
    margin: 10px 0;
}

input[type='submit'], input[type='file']{
    font-size: 1.2rem;
}

input:hover{
    cursor: pointer;
}

input[type='submit']{
    padding: 0.5rem 0.8rem;
    border: 2px solid #003333;
    background-color: #003333;
    color: white;
    border-radius: 4px;
}

main{
    padding: 0;
}

.quote-of-day-response{
    width: 70%;
    padding: 5%;
    margin: auto;
    align-items: center;
}

.quote-text{
    font-size: 1.2rem;
}
.quote-author{
    color: gray;
    text-align: right;
}