<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quotes - Powered by ZenQuotes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <h1>REST API / Flask project</h1>
        <h2>A project using Flask, JINJA, Python, HTML, CSS, and Web API</h2>
    </header>
    <form action = "/" method = "POST" enctype = "multipart/form-data">
        <p>
            Hit the button below and get motivated.
        </p>
         <input type = "submit"/>
    </form>
    <main>
        {% for i in range(quoteJSON|length) %}
            <blockquote class="quote-of-day-response">
            <h2>Quote of the Day</h2>
                <p class="quote-text">
                {{quoteJSON[i]["q"]}}
                </p>
                <footer class="quote-author">{{quoteJSON[i]["a"]}}</footer>
            </blockquote>
        {% endfor %}
    </main>

</body>
</html>